<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <div class="header">
      <div class="container">
        <ul>
          <li>
            <h1><a href="#"></a></h1>
          </li>
          <li>
              <ul class="nav">
                <li><a href="#">系列鏡框</a></li>
                <li><a href="#">門市據點</a></li>
                <li><a href="#">部落格</a></li>
                <li><a href="#">常見問題</a></li>
              </ul>
          </li>
        </ul>
      </div>
    </div>

    <%- contents %>

    <div class="footer">
      <div class="container">
        <div class="footer-top">
          <div class="footer-list">
            <ul>
              <li><a href="#">首頁</a></li>
              <li><a href="#">系列鏡框</a></li>
              <li><a href="#">門市據點</a></li>
              <li><a href="#">部落格</a></li>
              <li><a href="#">常見問題</a></li>
            </ul>
          </div>
          <div class="footer-icon">
            <ul>
              <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8a71940d3cd9c932e7126e75e093f68f3a861b79/week3/icon-fb.svg" alt="FB"></a></li>
              <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8a71940d3cd9c932e7126e75e093f68f3a861b79/week3/icon-ig.svg" alt="IG"></a></li>
              <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8a71940d3cd9c932e7126e75e093f68f3a861b79/week3/icon-line.svg" alt="LINE"></a></li>
            </ul>
          </div> 
        </div>
        
        <div class="footer-content">
          <ul>
            <li>
              <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8a71940d3cd9c932e7126e75e093f68f3a861b79/week3/icon-phone.svg" alt="">
              <a href="#">0800-000-000</a>
            </li>
            <li>
              <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8a71940d3cd9c932e7126e75e093f68f3a861b79/week3/icon-mail.svg" alt="">
              <a href="#">glasses@business.com</a>
            </li>
          </ul>
        </div>
        <div class="footer-bottom">
          <ul>
            <li><a href="#">Copyright © 2020 Glasses.All rights reserved.</a></li>
            <li class="footer-items">
              <a href="#">隱私權政策</a>
              <a href="#">服務條款</a>
            </li>
          </ul>
        </div>
      </div>
      
     
    </div>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>